#home{
    background-color: rgb(232,248,251);
    padding: 3px;
}
.line h1{
    font-size: 50px;
}
.line p{
    margin-left: 15px;
}
.Photo img{
    margin-left: 50%;
    margin-top: -340px;
    width: 37vw;
    height: 80vh;
   border-radius: 50%;
   border: 22px solid (rgb(130, 236, 231));
}
.Photo1 img{
    margin-top: -350px;
    height: 74vh;
    margin-left: 20px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    }
    .topnav {
        overflow: hidden;
       
        }
        .topnav a {
            float: right;
            color: #0a0a0a;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 19px;
            }
            .topnav a:hover {
                background-color: #ddd;
                color: black;
            }
        
        
            .button{
                color: rgb(228, 228, 238);
                background-color: rgb(53, 53, 233);
                margin-left: 15px;
                margin-bottom: 20px;
            }
            #Services{
                background-color: rgb(206, 250, 250); 
                margin-top: -1%;     
            }
            h1{
                margin-top: 3px;
                margin-left: 1%;
                margin-top: 5px;
              
            }
            .ff1{
                margin-left: 75%;
                margin-top: -46px;
            }
            .First{
                margin-left: 69%;
                margin-top: -1px;
                margin-bottom: -100px;
                border: 2px solid rgb(241, 239, 239);
                border-radius: 7px;
                background-color: rgb(253, 247, 252);
                height: 45vh;
                width: 30vw;
                text-align: center;
                margin-right: 1%;
                
            }
            .Second{
              
                margin-top: -290px;
                margin-left: 35%;
                border: 2px solid rgb(250, 248, 248);
                border-radius: 7px;
                background-color: rgb(249, 253, 253);
                height: 45vh;
                width: 30vw;
                text-align: center;

            }
            .Third{
                margin-left:1% ;
                margin-top: -285px;
                border: 2px solid rgb(250, 248, 248);
                border-radius: 7px;
                background-color: rgb(249, 253, 253);
                height: 45vh;
                width: 30vw;
                text-align: center;
            }
            .Fourth{
                margin-left: 1%;
               margin-top: 80px;
               margin-bottom: 150px;
               border: 2px solid rgb(250, 248, 248);
                border-radius: 7px;
                background-color: rgb(249, 253, 253);
                height: 45vh;
                width: 30vw;
                text-align: center;

            }
            .Fifth{
                margin-left: 35%;
                margin-top: -450px;
                margin-bottom: 140px;

                border: 2px solid rgb(250, 248, 248);
                border-radius: 7px;
                background-color: rgb(249, 253, 253);
                height: 45vh;
                width: 30vw;
                text-align: center;
                

                
            }
            .Sixth{
                margin-left: 69%;
               margin-top: -30%;
               margin-bottom: -40px;
              
               
                border: 2px solid rgb(250, 248, 248);
                border-radius: 7px;
                background-color: rgb(249, 253, 253);
                height: 45vh;
                width: 30vw;
                text-align: center;

            }
            .Doctors{
                background-color: rgb(141, 247, 247);  
                margin-top: -12%;
            }
            .Text{
                margin-left: 59%;
                margin-top: 10%;
              margin-right: 10%;
            
                
                
               
            }
            .Text h1{
                font-size: 35px;
               
                margin-top: -40%;
            
            }
            .Text p{
                margin-top: 7%;
               

            } 
            .Buttonn{
                margin-left: 60%;
            }
            #About{
                background-color: rgb(206, 250, 250); 
                margin-top: 0%;   
            }
            
            
            .ff2{
            margin-left: 73%;
            margin-top: -40px;
            }
            .ff3{
                margin-left: 86%;
                margin-top: -2px;
            }
            .Seventh{
                margin-left: 58%;
                margin-top: 20px;
                border: 2px solid rgb(250, 248, 248);
                border-radius: 7px;
                background-color: rgb(249, 253, 253);
                height: 60vh;
                width: 40vw;
                text-align: center;
            }
            .Icon1{
               margin-top: 80px;
               color: rgb(241, 238, 20);
               margin-left: -300px;
             
            }
            .cheap h3{
            margin-top: 6%;
            }
            .cheap p{
                margin-bottom: 100px;
               
            }
    
        
            .Eighth{
              margin-left: -141%;
              margin-top: -54%;
             
              border: 2px solid rgb(250, 248, 248);
              border-radius: 7px;
              background-color: rgb(249, 253, 253);
              height: 60vh;
              width: 40vw;
              text-align: center;
            }
            .Icon2{
                margin-top: 100px;
                color: rgb(241, 238, 20);
                margin-left: -300px;
            }
            #Doctors2{
                background-color: rgb(141, 247, 247); 
                margin-top: -1%;  
            
            }
            .ff4{
                margin-left: 90%;
                margin-top: -40px;
            }
            .Nineth img{
                height: 60vh; 
                margin-left: 40px;
                margin-bottom: -15px;
                border: 2px solid rgb(250, 248, 248);
                border-radius: 7px;
                background-color: rgb(249, 253, 253);
                height: 75vh;
                width: 30vw;

        
            }
            .Nineth h3{
                margin-left: 20px;
            }
            .Nineth p{
                margin-left: 20px;
            }
            .Tenth img{
                margin-left:500px ;
                margin-top: -90%;
                margin-bottom: 7%;
                height: 60vh; 
                border: 2px solid rgb(250, 248, 248);
                border-radius: 7px;
                background-color: rgb(249, 253, 253);
                height: 75vh;
                width: 25vw;
                
            }
            .Tenth h3{
                margin-left: 39%;
                margin-top: -7%;
            }
            .Tenth p{
                margin-left: 39%;
            }
            .Eleventh img{
                margin-left: 900px;
                margin-top:-200%;
                height: 70vh;
                margin-bottom: 8%; 
                border: 2px solid rgb(250, 248, 248);
                border-radius: 7px;
                background-color: rgb(249, 253, 253);
                height: 75vh;
                width: 26vw;

            }
            .Eleventh h3{
                margin-left: 70.5%;  
                margin-top: -8%;
            }
            .Eleventh P{
                margin-left: 70.5%;     
            }
            #box{
                background-color: rgb(206, 250, 250); 
                margin-top: -10%;  
            }
            
            .Blog{
                
                margin-left: 40%;
                height: 30vh;
                margin-top: 10%;
                margin-bottom: 8%; 
              
                
            }
            .Text1{
            height: 10vh;
            width: 35vw;
            text-align: start;
            margin-left: -90px;
            }
            .Buttonn1{
            margin-left: 57%;
            margin-top: -16%;
            }
            .Layer{
                margin-left: 90px;
                margin-bottom: -13%;
              
            }
            .Layer1{
                margin-left: 35%;
                margin-top: -10%;
                margin-bottom: 5px;
            }
            .Layer2{
                margin-left: 60%;
                margin-top: -13%;

            }
            .Layer3{
                margin-left: 85%; 
                margin-top: -15%; 
            }
           
            


    